# PlatformIO
.pio/
.pioenvs/
.piolibdeps/
platformio_override.ini

# Build output
release/
*.bin
*.elf

# IDE
.vscode/
.idea/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Node (voor WLED UI build)
node_modules/
